*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

  background-image:url('bg.jpg');

  background-size:cover;

  background-position:center;

  background-repeat:no-repeat;

  background-attachment:fixed;

  color:white;

  font-family:Arial;

  padding:20px;

  overflow-x:hidden;

}

.glow{
  position:fixed;
  width:500px;
  height:500px;
  background:cyan;
  filter:blur(180px);
  opacity:0.15;
  top:-100px;
  left:-100px;
  z-index:-1;
}

h1{
  text-align:center;
  color:#00ffff;

  text-shadow:
  0 0 10px #00ffff,
  0 0 30px #00ffff;

  margin-bottom:10px;
}

.subtitle{
  text-align:center;
  color:#cbd5e1;
  margin-bottom:25px;
}

.search-box{
  max-width:700px;
  margin:auto;
  margin-bottom:25px;
}

.search-box input{
  width:100%;
  padding:15px;
  border:none;
  border-radius:12px;
  font-size:16px;
  outline:none;
}

.container{
  max-width:800px;
  margin:auto;
}

.card{
  background:#111827;

  border-radius:20px;

  padding:20px;

  margin-bottom:20px;

  border:1px solid rgba(255,255,255,0.1);

  box-shadow:
  0 0 20px rgba(0,255,255,0.15);
}

.nama{
  font-size:18px;
  font-weight:bold;
  margin-bottom:10px;
}

.status{
  margin-bottom:15px;
  color:#22c55e;
  font-weight:bold;
}

.timer-box{
  width:170px;
  height:170px;

  border:3px solid #00ffff;

  margin:auto;

  border-radius:20px;

  display:flex;
  justify-content:center;
  align-items:center;

  margin-bottom:20px;

  box-shadow:
  0 0 20px #00ffff;
}

.timer{
  font-size:40px;
  font-weight:bold;
  color:#facc15;

  text-shadow:
  0 0 10px #facc15;
}

button{
  width:100%;
  padding:15px;
  border:none;
  border-radius:12px;
  margin-top:10px;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
}

.izin-btn{
  background:#00ffff;
  color:black;
}

.masuk-btn{
  background:#ff004f;
  color:white;
}

@media(max-width:600px){

  .timer-box{
    width:130px;
    height:130px;
  }

  .timer{
    font-size:30px;
  }

}