```css
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#050816;
  color:white;
  font-family:Arial;
  padding:20px;
  overflow-x:hidden;
}

/* BACKGROUND */

.bg-glow{
  position:fixed;
  width:500px;
  height:500px;
  background:cyan;
  filter:blur(180px);
  opacity:0.15;
  top:-100px;
  left:-100px;
  z-index:-1;
}

/* TITLE */

h1{
  text-align:center;
  color:#00ffff;
  margin-bottom:10px;

  text-shadow:
  0 0 10px #00ffff,
  0 0 20px #00ffff;
}

.subtitle{
  text-align:center;
  color:#cbd5e1;
  margin-bottom:25px;
}

/* SEARCH */

.search-box{
  max-width:700px;
  margin:auto;
  margin-bottom:25px;
}

.search-box input{
  width:100%;
  padding:15px;
  border:none;
  border-radius:12px;
  font-size:16px;
  outline:none;
}

/* CONTAINER */

.container{
  max-width:800px;
  margin:auto;
}

/* CARD */

.card{
  background:#111827;

  border:1px solid rgba(255,255,255,0.1);

  border-radius:20px;

  padding:20px;

  margin-bottom:20px;

  box-shadow:
  0 0 20px rgba(0,255,255,0.15);

  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

/* NAMA */

.nama{
  font-size:18px;
  font-weight:bold;
  margin-bottom:15px;
}

/* STATUS */

.status{
  color:#22c55e;
  margin-bottom:15px;
  font-weight:bold;
}

/* TIMER BOX */

.timer-box{
  width:170px;
  height:170px;

  margin:auto;

  border:3px solid #00ffff;

  border-radius:20px;

  display:flex;
  justify-content:center;
  align-items:center;

  margin-bottom:20px;

  box-shadow:
  0 0 20px #00ffff;
}

/* TIMER */

.timer{
  font-size:38px;
  font-weight:bold;
  color:#facc15;

  text-shadow:
  0 0 10px #facc15;
}

/* BUTTON */

button{
  width:100%;

  padding:15px;

  border:none;

  border-radius:12px;

  font-size:16px;

  font-weight:bold;

  cursor:pointer;

  margin-top:10px;

  transition:0.3s;
}

/* IZIN BUTTON */

.izin-btn{
  background:#00ffff;
  color:black;

  box-shadow:
  0 0 15px #00ffff;
}

/* MASUK BUTTON */

.masuk-btn{
  background:#ff004f;
  color:white;

  box-shadow:
  0 0 15px #ff004f;
}

button:hover{
  transform:scale(1.03);
}

/* MOBILE */

@media(max-width:600px){

  body{
    padding:15px;
  }

  .timer-box{
    width:130px;
    height:130px;
  }

  .timer{
    font-size:30px;
  }

  .nama{
    font-size:16px;
  }

}
```
